/*=====================
    Google fonts
=======================*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap");

/*=====================
    Common styles
=======================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
.primary-btn {
  height: 64px;
  background: #ff900e;
  border-radius: 8px;
  padding: 20px 24px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}
.section-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 24px;
}
.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 32px;
}
ul > li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: 100%;
}
/*=====================
    Header styles
======================*/
.header {
  background: rgba(255, 144, 14, 0.1);
  padding-top: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo a {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
}
.menu ul {
  display: flex;
  justify-content: end;
  gap: 60px;
  align-items: center;
}
.menu ul li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #424242;
  text-transform: capitalize;
}
/*=====================
     Banner styles
======================*/
.banner {
  padding-top: 102px;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.banner-content {
  text-align: center;
  max-width: 862px;
}
.banner-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #131313;
  margin-bottom: 32px;
}
.banner-img {
  padding-bottom: 45px;
}
/*===========================
    Architect team styles
=============================*/
.architect-team {
  padding-top: 85px;
}
.architect-team-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 72px;
  padding: 0 48px;
  align-items: center;
}
.architect-team-galleries {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.color-quick-list {
  color: #727272;
}
.color-feature {
  color: #ff900e;
}
/*======================
    About styles
========================*/
.about {
  padding-top: 130px;
}
.about-container {
  display: grid;
  grid-template-columns: 43% 57%;
}
.about-img {
  margin-left: 100px;
}
.title-container {
  display: flex;
  gap: 21px;
  padding-right: 40px;
}
.line {
  width: 8px;
  height: 106px;
  background: #ff900e;
}
.about-box {
  padding: 25px 30px;
}
.about-box-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
  margin-bottom: 10px;
}

.about-img img {
  object-fit: cover;
  object-position: left;
}
.experience-area {
  width: 300px;
  height: 184px;
  background: #ff900e;
  padding: 50px 40px;
  text-align: center;
  border-radius: 8px;
  position: relative;
  margin-top: -139px;
  margin-left: -84px;
  z-index: 1;
}

.experience-area h3 {
  font-weight: 700;
  font-size: 55px;
  line-height: 42px;
  color: #fff;
}

.experience-area h3 small {
  font-size: 21px;
  font-weight: 500;
}
/*======================
    Some Facts styles
========================*/
.some-facts {
  padding-top: 167px;
}
.some-facts-item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
  column-gap: 100px;
  padding: 0 48px;
}
.some-fact-item {
  text-align: center;
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 40px 30px;
  transition: transform 0.4s;
}
.some-fact-item:hover {
  transform: translateY(-10px);
}
.some-fact-item img {
  width: 46px;
  height: 46px;
  margin-bottom: 10px;
}

.some-fact-item h3 {
  font-weight: 600;
  font-size: 40px;
  color: #424242;
  margin-bottom: 5px;
}

.some-fact-item p {
  font-weight: 600;
  font-size: 18px;
  color: #727272;
}
/*===============================
    Subscribe newsletter styles
================================*/
.subscribe-newsletter {
  margin-top: 150px;
}
.contact-content {
  text-align: center;
  background: #fff;
  box-shadow: rgb(100 100 111 / 20%) 0px 4px 45px 5px;
  padding: 30px 0;
}
.contact-content form {
  display: flex;
  justify-content: center;
}
.contact-content form input {
  border: none;
  background: #dddddd94;
  padding: 15px 11px;
  width: 50%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
}

button.primary-btn.subdcribe-btn {
  padding: 0px 16px;
  height: 45px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
/*========================
    Our Sponsors styles
==========================*/
.sponsors {
  margin-top: 130px;
}
.sponsors-titles {
  text-align: center;
}
.sponsors-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
  column-gap: 150px;
  align-items: center;
}
.sponsors-logo img {
  filter: grayscale(100%);
}
/*========================
    Footer styles
==========================*/
.footer {
  margin-top: 130px;
}
.copyright {
  background: #fff4e7;
  border-radius: 8px;
  padding: 40px 10px;
  text-align: center;
}
.copyright p {
  font-weight: 400;
  font-size: 20px;
  color: #424242;
}

/*========================
    Media Queries
==========================*/
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .architect-team-container {
    gap: 60px;
    padding: 0px;
  }
  .about {
    padding-top: 100px;
  }
  .subscribe-newsletter,
  .sponsors,
  .footer {
    margin-top: 100px;
  }
  .some-facts-item-container {
    margin-top: 70px;
    column-gap: 51px;
    padding: 0 0px;
  }
  .sponsors-container {
    column-gap: 110px;
  }
}
@media screen and (max-width: 992px) {
  .logo a {
    font-size: 30px;
  }
  .menu ul {
    gap: 35px;
  }
  .architect-team-container {
    gap: 20px;
  }
  .section-title {
    font-size: 35px;
    line-height: 44px;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .line {
    width: 5px;
    height: 60px;
  }
  .title-container {
    gap: 21px;
    padding-right: 0px;
  }
  .about-box {
    padding: 4px 30px;
  }
  .about-img {
    margin-left: 0px;
  }
  .experience-area {
    width: 380px;
    margin-top: -110px;
    margin-left: 0px;
    left: 50%;
    transform: translate(-50%);
  }
  .some-facts-item-container {
    margin-top: 40px;
    column-gap: 10px;
  }
  .some-fact-item {
    padding: 15px 10px;
  }
  .sponsors-container {
    column-gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    padding-top: 60px;
  }
  .banner-title {
    font-size: 50px;
    line-height: 55px;
  }
  .primary-btn {
    height: 55px;
    padding: 15px 40px;
    font-size: 18px;
  }
  .architect-team-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .some-facts-item-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .sponsors-container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
  }
  .gallery-content {
    text-align: center;
  }
  .some-facts .section-title,
  .section-description {
    text-align: center;
  }
  .about-box {
    text-align: center;
  }
  h2.section-title {
    text-align: center;
  }
  .title-container {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .navbar {
    flex-direction: column;
    gap: 12px;
  }
  .logo a {
    font-size: 40px;
  }
  .menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .menu ul li a {
    font-size: 22px;
  }
  .banner,
  .about {
    padding-top: 70px;
  }
  .banner-title {
    font-size: 40px;
    line-height: 50px;
  }
  .architect-team-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
    gap: 40px;
  }
  .architect-team-galleries {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .team-gallery img {
    width: 100%;
  }
  .section-title {
    font-size: 33px;
    margin-bottom: 10px;
  }
  .about-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-box {
    padding: 19px 15px;
  }
  .about-img {
    margin-left: 0px;
  }
  .section-description br {
    display: none;
  }
  .some-facts-item-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 37px;
    gap: 22px;
    padding: 0 0px;
  }
  .subscribe-newsletter {
    margin-top: 70px;
  }
  .line {
    display: none;
  }
  .sponsors,
  .footer {
    margin-top: 70px;
  }
  .sponsors-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    gap: 30px;
    align-items: center;
  }
  .sponsors-logo img {
    max-width: 120px;
  }
  .sponsors-logo {
    text-align: center;
  }
  .sponsors-logo.figma {
    grid-column: 1 / -1;
  }
}
@media screen and (max-width: 440px) {
  .header {
    padding-top: 10px;
  }
  .navbar {
    gap: 2px;
  }
  .menu ul {
    gap: 20px;
  }
  .menu ul li a {
    font-size: 16px;
  }
  .logo a {
    font-size: 32px;
  }
  .banner-title {
    font-size: 32px;
    line-height: 42px;
  }
  .banner,
  .about {
    padding-top: 50px;
  }
  .primary-btn {
    height: 46px;
    padding: 7px 34px;
    font-size: 16px;
  }
  .architect-team {
    padding-top: 50px;
  }
  .section-title {
    font-size: 30px;
    line-height: 38px;
  }
  .experience-area {
    width: 267px;
    height: 116px;
    padding: 24px 40px;
    margin-top: -71px;
  }
  .experience-area h3 {
    font-size: 32px;
    line-height: 30px;
  }
  .experience-area h3 small {
    font-size: 16px;
  }
  .some-facts {
    padding-top: 110px;
  }

  .copyright p {
    font-size: 16px;
  }
}
